

/* skip to main */
a:focus, a:hover {
    text-decoration: underline; /* Underline nav links on hover or focus */
}

.skip a {
    position: absolute;
    top: -200px;
    background-color: #00274C;
    color: #FFCB05;
    font-size: 20px;
}

.skip a:focus {
    position: absolute;
    top: 20px; /* Make the skip link visible on focus */
}

*:focus {
    outline: 2px solid black; 
}

body {
    font-family: Merriweather ,Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}


header {
    background-color: #00274C;
    color: #FFCB05; 
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0.5em 0;
    font-size: 2em;
}

/*header banner styling */

header img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}


/* nav styling */

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00274C;
}

nav ul li {
    margin: 0.5em 0;
}

nav ul li a {
    color: #FFCB05;
    text-decoration: none;
    padding: 0.5em;
    display: block;
    text-align: center;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #FFCB05;
    color: #00274C;
}


.current-page{
    background-color: #FFCB05;
    color: #00274C;
    font-weight: bold;
    border-radius: 5px;
}

/*footer styling*/
footer {
    background-color: #00274C;
    color: #FFCB05; 
    text-align: center;
    padding: 1em 0;
  

}

.grid-footer {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer a {
    color: #FFCB05; 
    text-decoration: none;
}

footer p {
    margin: 0.5em 0;
}

footer a:hover, footer a:focus {
    text-decoration: underline; /* Underline links on hover or focus */
}

/*social media in footer styling*/
footer .social-media {
    margin-top: 1em;
}

footer .social-media a {
    margin: 0 0.5em;
}

main {
    margin: 20px;
    padding: 20px;
}

main h2, main h3, main h4, main h5 {
    color: #00274C;
}

main p, main ul, main ol {
    margin-bottom: 1em;
}

main ul, main ol {
    padding-left: 1.5em;
}

main a:hover, main a:focus {
    text-decoration: underline;
}


/* image grid on page 2 styling*/
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}
.image-grid div {
    text-align: center;
}
.image-grid img {
    height: auto;
    width: 55%;
}

.image-grid li {
    list-style-type: none;
}


/*Oprah Winfrey styling, image placement*/
.centered-image {
  place-items: center;
}
.centered-image  p {
    text-align: center;
   
}
.centered-image  img {
    width: 90%;
   
}


/* student support grid styling */
.student-support-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.student-support-grid li {
    text-align: center;
    list-style-type: none;
    width: 80%;
}


/*UHS section banner styling*/

.banner {
    position: relative;
    width: 97%;
    height: 258px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.banner .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFCB05; 
    background-color: rgba(0, 39, 76, 0.8); /* Semi-transparent background */
    padding: 10px 20px;
    text-align: center;
    font-size: 1.75em;
    border-radius: 5px;
}


.no-style{
    list-style-type: none;
}


/*list of resources for health on index*/
.homepage-list{
    font-size: 0.85em;
}

/*contact us form styling*/
.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.contact-form label {
    margin:1em;
    font-weight: bold;
}   

.contact-form input {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #00274C;
    border-radius: 5px;
}

.contact-form input[type="text"] {
width:45%;
position:relative;
left:25%;
}


.contact-form textarea {
    width:50%;
    height: 100px;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #00274C;
    border-radius: 5px;
}


.contact-form input[type="submit"] {
    background-color: #FFCB05;
    color: #00274C;
    font-size: 1.2em;
    padding: 0.5em 1em;

}

.contact-form input[type="submit"]:hover, .contact-form input[type="submit"]:focus {
    background-color: #00274C;
    color: #FFCB05;
    border: 1px solid #FFCB05;
}

.form-label-group{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}


.form-message-group{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
/*the part of the console where I can see how my options for flex affects the styling was my bestie for this, literally had a winner within
2 seconds, so glad Jackie pointed it out to me I think either during grid or one of the first class projects :) */
}

.contact-form-heading{
    position: relative;
    top: 20px;
    font-size: 20px;
    margin-top: 2%;
}

/*404 page styling*/
.error-message{
    font-size: 20px;
    text-align: center;
}

.everday-intro-message{
    font-size: 1.1em;
    font-weight: bold;
}


/*note, I used the bar underneath where you can resize the width and height to get this pixel width as a 
starting point. apparently if you click on the boxes you can get the standard size for phone, tablet, laptop, large laptop and 4K :) */
@media (min-width: 1024px) {

    nav ul li {
        font-size: 1.25em;
    }
    
    footer p{
        font-size: 1.15em;
    }

    footer .social-media a {
        font-size: 1.15em;
    }

    .contact-form-heading{
        font-size: 1.3em;
    }

    .contact-form label{
        font-size: 1.1em;
    }

    .form-label-group {
        display: grid;
        grid-template-rows: 1fr 1.1fr;
        grid-template-columns: 1fr 1fr;
    }

    .contact-form input[type="submit"] {
        font-size: 1.33em;
    }

    main h2 {
        font-size: 1.35em;
    }

    main  h3{

        font-size: 1.25em;
    }

    main  h4{

        font-size: 1.2em;
    }
    main  h5{

        font-size: 1.17em;
    }

    main  p {

        font-size: 1.15em;
    }

    main ul, main ol{
        font-size: 1.1em;
    }

    

    /* home page styling*/

    .student-support-grid li {
        border: navy solid 5px;
        width:auto;
    }

    .student-outside-list {
        font-size: 1.15em;
    }

    .title{
        font-size: 1.15em;

    }

    .banner .banner-text {

        font-size: 1.83em;
    }

    .homepage-list {
        font-size: 1em;
    }

    /*First Gen page styling*/
    /* Image grid */

    .image-grid p{
        font-weight: bold;
        font-size: 1.2em;
    }

    .image-grid div{
        border: navy solid 5px;
        width: auto;
    }

    .centered-image p{
        margin-bottom: 0;
        margin-top:1em;
        font-size: 1.2em;
        font-weight: bold;
    }

    .centered-image img {
        border: navy solid 5px;
        padding: 3%;
        width: auto;
    }

    .first-gen-message{
        margin-top: 1em;
        font-size: 1.3em;
        font-weight: bold;
    }

    /*Everday Resources styling*/
    .everday-intro-message{
        font-size: 1.3em;
        font-weight: bold;
    }

}



